@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace cComponents "anifire.creator.components.*";

s|Application
{
	backgroundColor: #1e1d25;
}

#componentPanel
{
	backgroundColor: #18181f;
	borderColor: #323041;
}

cComponents|ComponentItemRenderer
{
	backgroundColor: #1E1D25;
	borderColor: #2b2935;
}
cComponents|ComponentItemRenderer:hovered
{
	backgroundColor: #422b3d;
	borderColor: #6b3f56;
}
cComponents|ComponentItemRenderer:selectedAndShowsCaret
{
	backgroundColor: #3c2234;
	borderColor: #732a46;
}
